extends layout

block content
  div(class='container')
    div(class='row')
      div(id='main', class='col s12')
        span(id='id', class='hide')= name
        h1(class='shadow')= 'Class #' + name
        div(class='row')
          div(class='col s6')
            table(class='responsive-table hoverable')
              thead
                tr
                  th(data-field="id")= '编号'
                  th(data-field="sid")= '学号'
                  th(data-field="name")= '姓名'
              tbody(id='stu_tb')
          div(class='col s6')
            table(class='responsive-table hoverable')
              thead
                tr
                  th(data-field="id")= '编号'
                  th(data-field="x")= 'X'
                  th(data-field="y")= 'Y'
                  th(data-field="gx")= 'GX'
                  th(data-field="gy")= 'GY'
                  th(data-field="owner")= '学生'
              tbody(id='seat_tb')
  script(type="text/javascript").
    var id = $('#id').html();
    id = parseInt(id).toString();
    $.getJSON("/api/students/"+id, function (data) {
      $.each(data, function (i, d) {
        $("<tr><td>"+d.id+"</td><td>"+d.sid+"</td><td>"+d.name+"</td></tr>").appendTo('#stu_tb');
      });
    }).error(function (err) {
      $("#main").html(err.responseText);
    });
    $.getJSON("/api/seats/"+id, function (data) {
      $.each(data, function (i, d) {
        $("<tr><td>"+d.id+"</td><td>"+d.x+"</td><td>"+d.y+"</td><td>"+d.gx+"</td><td>"+d.gy+"</td><td>"+
                d.owner.toString()+"</td></tr>").appendTo('#seat_tb');
      });
    });

